# dependencies
/2_Webpack_default_configuration/node_modules
/3_webpack_custom_configuration/node_modules
/4_Loaders/Image Loader/node_modules
/4_Loaders/CSS Loader/node_modules
/4_Loaders/SASS Loader/node_modules
/4_Loaders/JSX loader-Babel/node_modules
/5_Plugins/Terser-plugin/node_modules